@import "tailwindcss";

:root {
  font-family: "inter-variable", Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: .875rem;

  color-scheme: light dark;
  color: #f7f8f8;
  background-color: #08090A;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --font-inter-variable: "inter-variable", sans-serif;

  --color-bg-primary: "#08090A";
  --color-text-primary: "#f7f8f8";
  --color-text-nav: "#8a8f98";
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-inter-variable);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #08090A;
    background-color: #f7f8f8;
  }
  
}
